.text-center{
    text-align: center;
    color: white;
}
.logo{
    align-items: center;
    display: flex;
}

.logo img{
    width: 125px;
    padding: 0 40px;
}
    
.line1{
    margin-top: 60px;
}
.content-element-1 img{
    width: 94px;
    height: 94px;
    border-radius: 120px;
    margin: 59px;
    float: inline-start;
}

.content-element-1 h3{
    margin-left: 84px;
    margin-right: 91px;
}

.line1 h2{
    margin-left: 90px;
    color: black;
}
.line-1content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 446px;
    padding: 5px;
    margin-right: 6px;
    border-radius: 5px;
    border-style: none;
}
.search button{
    width: 55px;
    height: 24px;
    border-radius: 5px;
    border-style: dashed;
    color: white;
    background-color: var(--main-bg-color);
    border-color: white;

}

.search button:hover{
    width: 53px;
    height: 22px;
    color:rgb(223, 221, 219);
}
.main-view
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#hr1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-top: 9px dotted gray;
    width: 6%;
    margin: auto;
}
.containar hr{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-top: 9px dotted gray;
    width: 6%;
    margin: auto;
    margin-top: 63px;
}
.main-images{
    width: 882px;
    height: 283px;
    margin: 11px;
}
.line2{
    margin-top: 60px;
}
.line2 h2{
    margin-left: 90px;
    color: black;
}
.line-2contents{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-element-2 img{
    width: 94px;
    height: 94px;
    border-radius: 120px;
    margin: 59px;
    float: inline-start;
}

.content-element-2 h3{
    margin-left: 84px;
    margin-right: 91px;
}

.lastline{
    margin-top: 60px;
    margin-bottom: 60px;
}
.lastline h2{
    margin-left: 90px;
    color: black;
}
.content-element-3 img{
    width: 94px;
    height: 94px;
    border-radius: 120px;
    margin: 59px;
    float: inline-start;
}

.content-element-3 h3{
    margin-left: 84px;
    margin-right: 91px;
}
.lastlinecontents{
    display: flex;
    justify-content: center;
    align-items: center;
}